*{
    margin:0;
    border:0;
}
.name{
    position: relative;
    margin:0px;
    bottom: 200px;
    left: 370px;
    font-size: x-large;
    font-weight: bolder;
}
body{
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}
.result{
    width:500px;
    height: 50px;
    border: 3px solid black;
    font-size: 50px;
    padding-left:10px;
    direction: rtl;
    text-align: end;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    display: inline-block;
    border:30px solid grey;
    border-radius: 20px;
}
button{
    width: 100px;
    height: 60px;
    border:1px solid black;
    box-shadow: 0 0 4px;
}
button:hover{
    cursor:pointer;
    background-color: aliceblue;   
}
button:active{
    background-color: antiquewhite;   
}
.box{
  display: flex;
  gap:0px;
}
@media screen and (max-width:700px){
    body{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }
    .container{
        position: absolute;
        width: 90%;
    }
    .result{
        width: 405px;
    }
    .name{
        position: absolute;
        top:5em;
        left: 4em;
    }
}
@media screen and (max-width:430px) {
    .result{
        width: 355px!important;
    }
}
@media screen and (max-width:400px) {
    .result{
        width: 324px;
    }
}
